meta[charset="uft-8"]
meta[http-equiv="X^UA-Compatible" content="IE=edge"]
meta[name="google-site-verification" content="sNFIkUT2BafOhtUULy_tHZ7G_4X0oho8joY8ekeNiOo"]
meta[name="viewport" content="width=device-width, initial-scale=1,0, initial-scale=1, shrink-to-fit=no"]

/ flatpickrのCSS
link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css"   
/ flatpickrのJavaScript
script src="https://cdn.jsdelivr.net/npm/flatpickr"

/ FancyBox のスタイルシートとスクリプト
link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@fancyapps/ui/dist/fancybox.css"
script src="https://cdn.jsdelivr.net/npm/@fancyapps/ui/dist/fancybox.umd.js"

/ Swiper のスタイルシートとスクリプト
link rel="stylesheet" href="https://unpkg.com/swiper/swiper-bundle.min.css"
script src="https://unpkg.com/swiper/swiper-bundle.min.js"


= csrf_meta_tags
= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload'
= stylesheet_link_tag rel="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css"
script[src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"]
= javascript_include_tag 'application', 'data-turbolinks-track': 'reload'



= display_meta_tags(default_meta_tags)
= favicon_link_tag('favicon.ico')

